.mini {
  width: 30px
}

.inline {
  display: inline-block;
}

.buteurs {
  width: 140px;
  background-color: orange;
  color: white;
  position: absolute;
  opacity: .9;
  font-size: 1rem;
  padding:6px;
  display: none;
  left: 20px;
  top: 20px;
  border-radius: 6px
}

.resultat {
  cursor: pointer;
  position: relative;
}

.success {
  color: #4F8A10
}

.error {
  color: #D8000C
}
